body{
    background-color: rgb(42, 42, 42);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 50%;
    padding: 10%;
    margin: auto;

    color:white;
}

h1{
    font-size: 40px;
    margin: 0px 0px 10px;
}

.container form{
    display: block;
    margin-bottom: 10px;
}

.container input{
    width: 100%;
    height: 40px;

    outline: none;
    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-family: inherit;
    text-align: center; 
}

.buttons{
    margin-bottom: 20px;
}

.buttons div{
    display: inline;
    width: 100%;
}

.btnplus button{
    width: 45%;
    height: 50px;
    border-radius: 10px;

    border: none;

    float: left;
    font-size: 30px;

    background-color: rgb(44, 156, 44);
}   .btnplus button:hover{
        box-shadow: 0px 0px 20px black;
    }
    .btnplus button:active{
        box-shadow: 0px 0px 0px black;
    }

.btnminus button{
    width: 45%;
    height: 50px;
    border-radius: 10px;

    margin-bottom: 10px;

    border: none;

    float: right;
    font-size: 30px;

    background-color: rgb(176, 47, 47);
    /* background-color: pink; */
}   .btnminus button:hover{
        box-shadow: 0px 0px 20px black;
    }
    .btnminus button:active{
        box-shadow: 0px 0px 0px black;
    }

.resultbtn{
    margin-bottom: 10px;
}

.resultbtn button{
    width: 100%;
    height: 50px;
    border-radius: 10px;

    font-size: 30px;
    font-family: inherit;

    color: aqua;
    background-color: rgb(42, 42, 42);
    border-color:aqua;
}

.result div{
    width: 100%;
    height: 150px;

    border: 2px solid black;
    border-radius: 10px;

    text-align: center;

    background-color: rgb(42, 42, 42);
}

.result p{
    font-size: 40px;
}