body{
    background-color: rgb(42, 42, 42);
}

body h1 {
    margin: 0;
    padding: 0;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
}

.container{
    width: 50%;
    margin: auto;

    margin-top: 10vh;
}

.container div{
    margin-bottom: 1vh;
}

.container input {
    width: 100%;
    height: 5vh;

    border-radius: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    padding-left: 20px;

    box-sizing: border-box;
}

.add-button{
    width: 100%;
    height: 5vh;

    border-radius: 10px;
    border-color: aqua;
    background-color: rgb(42, 42, 42);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color:aqua;


    padding: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.note {
    width: 100%;
    height: 9vh;
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note p {
    margin-left: 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    
    margin: 1vh 2vh 0px;
}

.action-buttons button {
   width: 50px;
   height: 50px;

   border-radius: 5px;
   border: none;

   color: white;
   font-size: 15px;
}

.red {
    background-color: rgb(255, 64, 64);
}   .red:hover {
        box-shadow: 0px 0px 15px rgb(255, 64, 64);
    }

.green {
    background-color: rgb(73, 179, 73);
}   .green:hover {
        box-shadow: 0px 0px 15px rgb(73, 179, 73);
    }