*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 50%;
    margin: auto;
    background-color:#485264;
    color: #111E32;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration:underline;
}

a:active{
    color: #485264;
}

h2:hover{
    text-shadow: 4px 4px 15px black;
    transition: 0.5s;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}

.maintab{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    display: flex;
}

.maintab h1{
    margin-left: 40px;
    margin-top: 40px;
}

.maintab h1:hover{
    text-shadow: 4px 4px 20px #8591A3;
}

.image1{
    width: 200px;
    border-radius: 50px;
    box-shadow: 4px 4px 15px gray;
}

.card{
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #8591A3;
}

.card h2{
    margin-bottom: 10px;
}

.contacts{
    border: 1px solid black;
    background-color: gray;
}

.row{
    display: flex;
}

.row > .form-group{
    width: 50%;
    margin-right: 10px;
}

.form-group label{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.form-group input{
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #8591A3;
    color:#111E32;
    

    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 0px;
}

.table{
    width: 100%;
}

.table th{
    padding-bottom: 10px;
}

.table td:nth-child(2), td:nth-child(3){
    color: #5e1d1d;
    text-align: center;
}

.contact h2{
    text-align: center;
}

.btn{
    font-family: inherit;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}